<div data-ng-app="libraryApp">
	<div class="row">
	<h2>Add Genre</h2><hr/>
		<div class="col-md-6 col-md-offset-3">
			<div data-ng-controller="genreCtrl">
			<form class="form-inline" data-ng-model="addGenreFrm">
				<input class="form-control"
					type="text" name="genreName" data-ng-model="insertGenre"
					placeholder="Enter Genre Name" /> <input type="button"
					value="Add Genre" class="btn btn-sm btn-default"
					style="margin: 5px; width: 100px;" data-ng-click="addGenre()" /> <a
					class="btn btn-warning btn-sm" style="margin: 5px; width: 100px;"
					href="#/adminServices">Cancel</a>
			</form>
		</div>
		</div>
	</div>
</div>
