<div class="container" data-ng-controller="genreCtrl">
	<h2>Genre List</h2>
	<hr />

	<div class="row">
		<div class="col-md-6">
		<div class="well">
			<!--Sidebar content-->
			<form>
				<div class="form-inline">
					Search: <input class="form-control" data-ng-model="query">
					Sort by: <select class="form-control" data-ng-model="orderProp">
						<option value="genreName">Alphabetical</option>
						<option value="genreId">Oldest</option>
						<option value="-genreId">Newest</option>
					</select>
				</div>
			</form>
			<br />
			<br />
			<form class="form-group" data-ng-model="addGenreFrm">
				<label>Add Genre:</label>
				<input class="form-control"
					type="text" name="genreName" data-ng-model="insertGenre"
					placeholder="Enter Genre Name" /> <input type="button"
					value="Add Genre" class="btn btn-sm btn-default"
					style="margin: 5px; width: 100px;" data-ng-click="addGenre()" /> <a
					class="btn btn-warning btn-sm" style="margin: 5px; width: 100px;"
					href="#/adminServices">Cancel</a>
			</form>
		</div>
		</div>
		<div class="col-md-6">
			<!--Body content-->

			<table class="table table-hover">
				<tr>
					<th>Genre Name</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>

				<tr data-ng-repeat="a in genres | filter:query | orderBy:orderProp |startFrom:(currentPage -1) * pageSize |limitTo:pageSize as filtered_result track by a.genreId">
					<td>{{a.genreName}}</td>
					<td><i class="glyphicon glyphicon-pencil" data-ng-click="editGenre()"></i></td>
					<td><i class="glyphicon glyphicon-trash" data-ng-click="deleteGenre($index)"></i></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<!-- PAGINATION -->
		<br />
		<div align="right">
			<pagination total-items="genres.length" ng-model="currentPage"
				items-per-page="pageSize" ng-change="pageChanged()"></pagination>
		</div>
	</div>
	<hr />
</div>